<ion-view title="Employees">
    <div class="bar bar-header bar-light header-bottom ">
        <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Add Employees to Branch</span>
<img src="/img/forward.png" alt="forward" class="forward"/>

</div>
<ion-content  >

<div class="add-emp">
<input type="text" ng-model="searchtext" placeholder="Search By Name" ng-click="listItem = !listItem"><i class="fa fa-search" ng-click="listItem = !listItem"></i>
	<ul class="item item-emp" ng-show="listItem">
  <li ng-repeat="emp in employees | filter: searchtext">
    <div class="emp-dropdown" ui-sref="app.employee-detail">
      <img ng-src="{{emp.image}}" alt="{{emp.name}}" class= ""/>
      <div class="empdropdown-detail">
        <h4>{{emp.name}}</h4>
        <h5>{{emp.empid}}</h5>
        <h5>{{emp.position}}</h5>
      </div>
    </div>
  </li>
	</ul>
</div>

</ion-content>
<div class="float-button" ui-sref="add-newemployee">
    <span class="height-fix">
        <a class="content">
            <i class="fa fa-plus"> </i>
        </a>
    </span>
</div>

<!-- <div class="bar bar-footer">
  <div >
    <div >
      <label for="" class="progress-label">65% Completed</label>
    </div>
  <progress value="65" max="100" class="progress">65%</progress>
</div>
<button  class="bottom-continue button button-clear pull-right submit-blue" ui-sref="branch-employee">Save</button>
</div> -->
</ion-view>
