<ion-view title="All Offer">
    <div class="bar bar-header bar-light header-bottom ">
        <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Subscriber Requested</span>
<!-- <img src="/img/forward.png" alt="forward" class="forward"/> -->
<i class="fa fa-search forward"></i></h1>

</div>

    <ion-tabs class=" tab-button">
      <ion-tab title="card">
        <ion-content  class="tab-content">
<div class="card">
  <div class="offer-img">
    <img src="img/burgerking.jpg" alt="" class="full-image">
  </div>
  <div class="offer-text">
    You can redeem one free coffee !!!
    <div>
         <i class="ion ion-ios-circle-outline stamp-color"></i>
         <i class="ion ion-ios-circle-outline stamp-color"></i>
         <i class="ion ion-ios-circle-outline stamp-color"></i>
         <i class="ion ion-ios-circle-outline"></i>
         <i class="ion ion-ios-circle-outline"></i>
         <i class="ion ion-ios-circle-outline"></i>

    </div>
  </div>

</div>
<div class="card">
  <div class="offer-img">
    <img src="img/burgerking.jpg" alt="" class="full-image">
  </div>
  <div class="offer-text">
    You can redeem one free coffee !!!
    <div>
         <i class="ion ion-ios-circle-outline stamp-color"></i>
         <i class="ion ion-ios-circle-outline stamp-color"></i>
         <i class="ion ion-ios-circle-outline stamp-color"></i>
         <i class="ion ion-ios-circle-outline"></i>
         <i class="ion ion-ios-circle-outline"></i>
         <i class="ion ion-ios-circle-outline"></i>

    </div>
    <div class="stamp-color">
        <label for="">212 in use</label>
        <label for="" class="item-note stamp-color">112 redeemed</label>
    </div>
  </div>

</div>
      </ion-content >

      </ion-tab>
       <ion-tab title="points">
        <ion-content  class="tab-content">
<div class="card">
  <div class="offer-img">
    <img src="img/burgerking.jpg" alt="" class="full-image">
  </div>
  <div class="offer-text">
    <h3 for="" class="point">250 Points</h3>
        <label for="">Any size Pizza</label>


  </div>

</div><div class="card">
  <div class="offer-img">
    <img src="img/burgerking.jpg" alt="" class="full-image">
  </div>
  <div class="offer-text">
    <label for="">30% off on third Pizza</label>
  <h4 for="" class="stamp-color">145 redeemed</h4>

  </div>

</div>
      </ion-content >

      </ion-tab>
        <ion-tab title="promotions">
        <ion-content  class="tab-content ">

      </ion-content >

      </ion-tab>
</ion-tabs>


</ion-content>
<ion-floating-menu >
    <ion-floating-item  click="myEvent()"  ui-sref="app.create-offer" icon="fa fa-gift" text="Promotional offer" button-color="#e74b1a"></ion-floating-item>
    <ion-floating-item  click="myEvent()" ui-sref="app.create-offer" icon="fa fa-gift" text="Loyalty Redeemption offer" button-color="#e74b1a"></ion-floating-item>

</ion-floating-menu>


<!-- <div class="bar bar-footer">
<div >
  <div >
    <label for="" class="progress-label">35% Completed</label>
  </div>
<progress value="35" max="100" class="progress">35%</progress>
</div>
<button  class="bottom-continue button button-clear pull-right submit-blue" ui-sref="recent-checkin">Submit</button>
</div> -->
</ion-view>
