<ion-view title="Loyalty">
  <div class="bar bar-header bar-light header-bottom ">
    <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back"/><span class="title-name">Summary</span>
<img src="/img/forward.png" alt="forward" class="forward"/>
</div>
<div class="header-text">
  <label for="" class="item">Hotel Booking</label>
  <button  class="button button-positive circle " ><i class="fa fa-pencil"></i></button>
</div>
<ion-content  >
  <div class="summary-div">
<div class="label-margin">
  <label for="">Single Business Program</label>

</div>
<div class="label-margin">
  <label for="">Loyalty card with stamps</label>

</div>
<div class="label-margin">
  <label for="">Set point coversion /Rate : 500 points = €1
</label>
</div>
<div class="label-margin">
    <label for="">Genrated stamps : 500 Stamps</label>
</div>
    <!--<button class="button button-block  button-light submit sign-up" ui-sref="app.app-personal">
      Sumbit</button>
  </div>-->

</ion-content>

</ion-view>
