<ion-view title="Loyalty">
  <div class="bar bar-header bar-light header-bottom ">
    <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Loyalty Programme</span>
<img src="/img/forward.png" alt="forward" class="forward"/>

</div>

<ion-content class="success" >
  <ul class="list loyalty-list">
      <li class="item " ui-sref="app.app-summary">
        <div class="header">
          <h3>Hotel Booking</h3>
          <h4>Single Business Program</h4>
        </div>
        <i class="ion ion-ios-arrow-right item-note target-icon"></i>
      </li>
      <li class="item " ui-sref="app.app-summary">
        <div class="header">
          <h3>Hotel Booking</h3>
          <h4>Single Business Program</h4>
        </div>
        <i class="ion ion-ios-arrow-right item-note target-icon"></i>
      </li>
      <li class="item " ui-sref="app.app-summary">
        <div class="header">
          <h3>Hotel Booking</h3>
          <h4>Single Business Program</h4>
        </div>
        <i class="ion ion-ios-arrow-right item-note target-icon"></i>
      </li>
      <li class="item " ui-sref="app.app-summary">
        <div class="header">
          <h3>Hotel Booking</h3>
          <h4>Single Business Program</h4>
        </div>
        <i class="ion ion-ios-arrow-right item-note target-icon"></i>
      </li>


  </ul>
</ion-content>

</ion-view>
