<ion-view >
  <div class="bar bar-header bar-light header-bottom ">
<h1 class="title login-bar"><img src="img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Business Registration</span>
<img src="img/forward.png" alt="forward" class="forward"/>

</div>
<div class="item save-block">
<!-- <input type="text" placeholder="Enter Business Name,Address ,Business Type,Company Num, Reg Authority ,VAT Num"  class="registration-select"> -->
<!-- <textarea  cols="42" name="comment" form="usrform" placeholder="Enter Business Name,Address ,Business Type,Company Num, Reg Authority ,VAT Num">
</textarea> -->
<button  class="save button button-clear pull-right" ui-sref="preview-businessdetail">Save</button>

<div contenteditable="true" class="editable" placeholder="Enter Business Name,Address ,Business Type,Company Num, Reg Authority ,VAT Num"  class="registration-select"></div>
</div>
    <ion-content class="business-reg-content" >

<form class="form-margin" action="index.html" method="post">
  <div class="business-reg all-bottom">
    <div class="input-margin">
    <i class="fa fa-building  icon-user sign-up-color"> </i>
  <input type="text" placeholder="Business Name"  class="registration-select">
</div>
<div class="input-margin all-bottom">

    <i class="fa fa-map-marker  icon-user sign-up-color"> </i>
  <input type="text" placeholder="Business Address"  class="registration-select">
  <img src="img/map.png" alt="" class="map" ui-sref="business-address"/>
</div>
<div class="input-margin all-bottom">

    <i class="fa fa-phone  icon-user sign-up-color"> </i>
  <input type="text" placeholder="Comapany Name"  class="registration-select">
</div>
<div class="input-margin all-bottom">

    <i class="fa fa-briefcase  icon-user sign-up-color"> </i>
  <input type="text" placeholder="Business Type"  class="registration-select">
</div>
<div class="input-margin all-bottom">
    <i class="fa fa-briefcase  icon-user sign-up-color"> </i>
  <input type="text" placeholder="Registration Authority"  class="registration-select">
</div>
<div class="input-margin ">

    <i class="fa fa-newspaper-o  icon-user sign-up-color"> </i>
  <input type="text" placeholder="VAT Registration Number"  class="registration-select">
</div>
<div class="input-margin all-bottom">
  <label class="item-input item-select select-regstration sign-up-margin select-busi">
        <i class="fa fa-list icon-user sign-up-color"> </i>
      <select class="registration-select sign-up-color">
          <option value=""  disabled selected >Select Number of Branch</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </label>
  </div>
  </div>
</form>
     </ion-content>
     <div class="bar bar-footer ">
       <div >
         <div >
           <label for="" class="progress-label">35% Completed  </label>
         </div>
       <progress value="35" max="100" class="progress">35%</progress>
     </div>
     <button  class="bottom-continue button button-clear pull-right" ui-sref="preview-businessdetail">Continue</button>
     </div>
    </ion-view>
