<ion-view>
    <div class="bar bar-header bar-light header-bottom ">
        <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back"/><span class="title-name">Check In</span>
<img src="/img/forward.png" alt="forward" class="forward"/>

</div>
<ion-content  class="recent-checkin">
  <div class="clearfix">
    <h4 for="" class="header-name pull-left">Mahesh Mauraya</h4>
    <h5 for="" class="header-h5 pull-right" ui-sref="branch-employeedetail">Check In <i class="fa fa-chevron-right"></i></h4>
  </div>
  <h5 class="header-h5">Access for the time duration:</h5>
  <label class="item-input item-select select-regstration label-fromto">
      <select class="registration-select sign-up-color">
          <option value=""  disabled selected >From</option>
        <option>Blue</option>
        <option>Green</option>
        <option>Red</option>
      </select>
    </label>
    <label class="item-input item-select select-regstration label-fromto ">
        <select class="registration-select sign-up-color">
            <option value=""  disabled selected >To</option>
          <option>Blue</option>
          <option>Green</option>
          <option>Red</option>
        </select>
      </label>
  </ion-content>
  <!-- <div class="bar bar-footer">
    <div >
      <div >
        <label for="" class="progress-label">35% Completed</label>
      </div>
    <progress value="35" max="100" class="progress">35%</progress>
  </div>
  <button  class="bottom-continue button button-clear pull-right submit-blue" ui-sref="recent-checkin">Submit</button>
  </div> -->
  </ion-view>
