<ion-view title="Create Offer">
  <div class="bar bar-header bar-light header-bottom ">
    <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Summary</span>
<img src="/img/forward.png" alt="forward" class="forward"/>
</div>

<ion-content  >
    <div class="card">
  <div class="offer-img">
    <img src="img/burgerking.jpg" alt="" class="full-image">
  </div>
  <div class="offer-text">
    <label for="">30% off on third Pizza</label>
  <h4 for="" class="stamp-color">145 redeemed</h4>

  </div>

</div>
<form action="">
<div class="radio-color margin-to">
  <input type='radio' name='group1'   /> active
    <input type='radio' name='group1'   /> deactive
</div>
<div class=" margin-to">
  <label class="item item-select redeem">
    <label class="input-label">
      Is Redeemption Offer
    </label>
    <select>
      <option selected>Yes</option>
      <option>No</option>
    </select>
  </label>

</div>

<ul class="list " ui-sref="target-audience">
    <li class="item">
      Target Audience
      <i class="ion ion-ios-arrow-right item-note target-icon"></i>
    </li>
</ul>
<div>
    <label for="" class=" margin-to">Price Headline</label>
    <div class=" row ">
<input type='text' placeholder="Total %" class="col  offer-input" >
<input type='text' placeholder="Real % (optional)" class="col  offer-input">
  </div>
</div>
<div>
<input type='text' placeholder="Min spend Off" class="col offer-input" >
</div>
<div>
<input type='text' placeholder="Cost in Points" class="col offer-input" >
</div>
<div>
<input type='text' placeholder="How many times it can be Used" class="col offer-input" >
</div>
<div class=" margin-to">
  <label class="item item-select redeem row start">
    <label class="input-label col-33">
      Start from
    </label>
   <input type='date' placeholder="Date" class="col-33" >
<input type='time' placeholder="time" class="col-33" >
  </label>
</div>
<div class=" margin-to">
  <label class="item item-select redeem row start">
    <label class="input-label col-33">
     End to
    </label>
   <input type='date' placeholder="Date" class="col-33" >
<input type='time' placeholder="time" class="col-33" >
  </label>
</div>
<div>
    <label for="" class=" margin-to">Valid on days</label>
</div>
<div class="day margin-to">
<button class="button button-positive day-button" name="button">Mon</button>
<button class="button button-positive day-button" name="button">Tue</button>
<button class="button button-positive day-button" name="button">Wed</button>
<button class="button button-positive day-button" name="button">Thus</button>
<button class="button button-positive day-button" name="button">Fri</button>
<button class="button button-positive day-button" name="button">Sat</button>
<button class="button button-positive day-button" name="button">Sun</button>
<button class="button button-positive day-button" name="button">Select All</button>
</div>
<div>
     <label class=" item-input margin-to">
    <textarea placeholder="Headline" class="areatext "></textarea>
  </label>
</div>
<div class="margin-to">
     <label class=" item-input ">
    <textarea placeholder="Highlights" class="areatext"></textarea>
  </label>
</div><div>
     <label class=" item-input margin-to">
    <textarea placeholder="About this offer" class="areatext "></textarea>
  </label>
</div>
<div class="margin-to">
    <button class="button button-stable button-day">
  Copy Previous
</button>
<button class="button button-stable item-note button-day">
  Clear
</button>
</div>

<div>
     <label class=" item-input margin-to">
    <textarea placeholder="Terms & Condition" class="areatext  "></textarea>
  </label>
</div>
<div class="margin-to">
    <button class="button button-stable button-day">
  Copy Previous
</button>
<button class="button button-stable item-note button-day">
  Clear
</button>
</div>
<div class="margin-button ">
    <button class="button button-stable button-offer">
  Previous
</button>
<button class="button button-stable item-note button-offer">
  Next
</button>
</div>
</form>
    </ion-content>+
</ion-view>
