<ion-view title="Distribution Criteria">
  <div class="bar bar-header bar-light header-bottom ">
    <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back"/><span class="title-name">Summary</span>
<img src="/img/forward.png" alt="forward" class="forward"/>
</div>

<ion-content  >
  <div class="card" ui-sref="app.new-criteria">
  <div class="item item-text-wrap">
 Programme Name  
 <label class="item item-input">
    <input type="text" class= "distribution-text" placeholder="1 point for $100 on the min bill amount of $200" value="1 point for $100 on the min bill amount of $200">
  </label>

</div>
</div>
<div class="card" ui-sref="app.new-criteria">
  <div class="item item-text-wrap">
 Programme Name  
 <label class="item item-input">
    <input type="text" class= "distribution-text" placeholder="1 point for $100 on the min bill amount of $200">
  </label>

</div>
</div>

</ion-content>

</ion-view>
