
<ion-view title="Employee Detail">
<div class="bar bar-header bar-light header-bottom " >
    <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back"/><span class="title-name">Add New Employees</span>
<img src="/img/forward.png" alt="forward" class="forward"/>

</div>
<ion-content  >
  <form class="form-margin">
    <div class="text-center">
      <i class="fa fa-circle circle-img"> </i>
<i class="fa fa-user user-img"></i>
<i class="fa fa-plus add-user plus-top"></i>
    </div>
    <div class="add-emp">
      <div class="preview-margin">
        <label for="Personal info" class="header-details">Employee info<span ng-click="persoanlInfo()"><i class="fa fa-pencil pencil"  ></i></input>
      </div>
        <div class="preview-bottom">
        <i class="fa fa-user icon-emp"></i><input type="text" placeholder="Title" ng-disabled="previewDetail.persoanlInfo" ng-model="previewDetail.title"class="bottom-disabled"></input>
      </div>
        <div class="preview-bottom ">
          <i class="fa fa-user icon-emp"></i><input type="text" placeholder="First Name" ng-disabled="previewDetail.persoanlInfo" ng-model="previewDetail.firstname"class="bottom-disabled"></input>
      </div>
        <div class="preview-bottom">
          <i class="fa fa-mobile icon-ph icon-emp"></i><input type="text" placeholder="Mobile Number" ng-disabled="previewDetail.persoanlInfo" ng-model="previewDetail.lastname" class="bottom-disabled"></input>
      </div>
        <div class="preview-bottom">
          <i class="fa fa-envelope icon-emp"></i><input type="text" placeholder="Mail Id" ng-disabled="previewDetail.persoanlInfo" ng-model="previewDetail.lastname" class="bottom-disabled"></input>
      </div>
        <div class="preview-bottom">
          <i class="fa fa-newspaper-o icon-emp"></i><input type="text" placeholder="Employee ID" ng-disabled="previewDetail.persoanlInfo" ng-model="previewDetail.lastname" class="bottom-disabled"></input>
      </div>
      <div class="preview-bottom">
        <i class="fa fa-envelope icon-emp"></i><input type="text" placeholder="Mail Id" ng-disabled="previewDetail.persoanlInfo" ng-model="previewDetail.lastname" class="bottom-disabled"></input>
      </div>
      <div class="preview-bottom">
        <i class="fa fa-user-plus icon-emp"></i><input type="text" placeholder="Role" ng-disabled="previewDetail.persoanlInfo" ng-model="previewDetail.lastname" class="bottom-disabled"></input>
    </div>
      <div class="preview-bottom">
        <i class="fa fa-building icon-emp"></i><input type="text" placeholder="Branch" ng-disabled="previewDetail.persoanlInfo" ng-model="previewDetail.lastname" class="bottom-disabled"></input>
    </div>

    </div>

    <button class="button button-block  button-light continue sign-up" ui-sref="branch-registration">
      Save</button>
</form>
</ion-content>

<!-- <div class="bar bar-footer">
  <div >
    <div >
      <label for="" class="progress-label">40% Completed</label>
    </div>
  <progress value="40" max="100" class="progress">40%</progress>
</div>
<button  class="bottom-continue button button-clear pull-right submit-blue" ui-sref="review-branchdetail">Save</button>
</div> -->
</ion-view>
