<ion-view class="login-page">

    <ion-content>

        <form>
            <div class="text-center login-logo">
                <img src="img/SavaLogo.png" alt="sava" class="app-icon" />
                <h1 class="logo-textsize">for Business</h1>
            </div>

            <div class="list social-login">
                <button class="button button-block  button-light button-margin facebook" ui-sref="social-signup">
              <i class ="fa fa-facebook"></i>
                Continue with Facebook</button>
                <button class="button button-block button-light button-margin google-plus" ui-sref="social-signup">
                  <i class ="fa fa-google-plus"></i>
                  Continue with Google +</button>
                <button class="button button-block button-light button-margin" ui-sref="social-signup">
                  <i class ="fa fa-envelope"></i>
                  Login with Email</button>
                <button class="button button-block button-light im-new" ui-sref="sign-up">
                  <i class ="fa fa-user-plus"></i>
                  I'm new </button>
            </div>
            <div class="text-center">
                <h5></h5>
            </div>
        </form>

    </ion-content>
    <div class="bar bar-footer bar-balanced footer">
        <div class="title footer">Is this app for you?</div>
    </div>
</ion-view>
