<ion-view>
    <div class="bar bar-header bar-light header-bottom ">
        <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back"/><span class="title-name">Loyalty Programme</span>
<img src="/img/forward.png" alt="forward" class="forward"/>

</div>
<ion-content  >
     <form class="loyalty-margin">
    <div class=" business-program">
    <label class="registration-select address">
        Card Milestone
    </label>
    </div>
    <div class="">
        <label for="" class="label-stamps">15 Stamps :Grab a free pizza  <button class="button button-positive loyalty-addremove"><i class="fa fa-minus"></i></button></label>

    </div>
    <div class="">
        <label for="" class="label-stamps"><button class="button button-positive loyalty-addremove"><i class="fa fa-plus"></i></button>Add stamps</label>

    </div>
    <div class="total-stamps">
        <label for="">Total Stamps : 1500 Stamps</label>

    </div>
    <div class=" sign-up-margin address-margin program-name">

    <input type="text" placeholder="Number of stamps"  class="registration-select address">
    </div>
     <div class=" sign-up-margin address-margin program-name">

     <input type="text" placeholder="Redemption Message"  class="registration-select address">
     </div>
     <button class="button button-block  button-light submit sign-up" ui-sref="add-employee">
       Sumbit</button>
</form>
</ion-content>
<div class="bar bar-footer">
  <div >
    <div >
      <label for="" class="progress-label">65% Completed</label>
    </div>
  <progress value="65" max="100" class="progress">65%</progress>
</div>
<button  class="bottom-continue button button-clear pull-right submit-blue" ui-sref="branch-address">Submit</button>
</div>
</ion-view>
