<ion-view title ="Criteria">
  <div class="bar bar-header bar-light header-bottom ">
    <h1 class="title login-bar"><img src="img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Branch Registration</span>
<img src="img/forward.png" alt="forward" class="forward"/>

</div>
<div class="item save-block">

<button  class="save button button-clear pull-right" ui-sref="branch-address">Save</button>

<div contenteditable="true" class="editable" placeholder="give point,INR ,basis,min bill amount"  class="registration-select"></div>
</div>
<ion-content class="business-reg-content" >
 <form class=" criteria-margin">
     <label class="item-input item-select select-regstration  ">
    <select class="registration-select sign-up-color address">
        <option value=""  disabled selected >Loyalty Programme Name</option>
      <option>Programme1</option>
      <option>Programme2</option>
      <option>Programme3</option>
    </select>
  </label>

    <div class="  ">

  <input type="text" placeholder="Points to Give"  class="registration-select address">
  </div>

   <label class="item-input item-select select-regstration  ">
    <select class="registration-select sign-up-color address">
        <option value=""  disabled selected >Basis</option>
      <option>amount</option>
      <option>visit</option>
    </select>
  </label>



<div class="criteria">

<input type="text" placeholder="For Every"  class="">

    <label class="item-input item-select select-regstration">
        <select class="registration-select sign-up-color">
            <option value=""  disabled selected >Currency</option>
          <option>GPB</option>
          <option>USD</option>
          <option>INR</option>
        </select>
      </label>


</div>
<div class="criteria">

<input type="text" placeholder="Min bill amount of(optional)"  class="">

    <label class="item-input item-select select-regstration  ">
        <select class="registration-select sign-up-color">
            <option value=""  disabled selected >Currency</option>
          <option>GPB</option>
          <option>USD</option>
          <option>INR</option>
        </select>
      </label>


</div>


</form>
     </ion-content>
     <!--<div class="bar bar-footer ">
       <div >
         <div >
           <label for="" class="progress-label">35% Completed  </label>
         </div>
       <progress value="35" max="100" class="progress">35%</progress>
     </div>
     <button  class="bottom-continue button button-clear pull-right" ui-sref="branch-address">Continue</button>
     </div>-->
    </ion-view>
