<ion-view >
  <div class="bar bar-header bar-light header-bottom ">
<h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Personal Detail</span>
<!-- <img src="/img/forward.png" alt="forward" class="forward"/> -->
<!-- <i class="fa fa-search forward"></i></h1> -->
</div>
    <ion-content >
<form class="form-margin" action="index.html" method="post">
  <button class="button button-block  button-stable  " ui-sref="personal-address">
    Fill With Current Location</button>

  <span for="addres" class="margin-building"><i class="fa fa-building "> <label for="address">Address</label></i></span>
  <div class=" sign-up-margin address-margin address-top">

  <input type="text" placeholder="Address1"  class="registration-select address">
</div>
<div class=" sign-up-margin  address-margin address-top">

<input type="text" placeholder="Address2"  class="registration-select address">
</div>
<div class=" sign-up-margin address-margin address-top">

<input type="text" placeholder="County"  class="registration-select address">
</div>
<div class=" sign-up-margin address-margin">

<input type="text" placeholder="Town/City"  class="registration-select address">
</div>
<div class=" sign-up-margin address-margin">

<input type="number" placeholder="Pincode"  class="registration-select address">
</div>
<div class=" sign-up-margin address-margin">

<input type="text" placeholder="Country"  class="registration-select address">
</div>


<button class="button button-block  button-light continue sign-up" ui-sref="security-question">
  Continue</button>

</form>
     </ion-content>
     <div class="bar bar-footer ">
       <div >
         <div >
           <label for="" class="progress-label">20% Completed  </label>
         </div>
       <progress value="20" max="100" class="progress">20%</progress>
     </div>
     <button  class="bottom-continue button button-clear pull-right" ui-sref="security-question">Continue</button>
     </div>
    </ion-view>
