<ion-view >
  <div class="bar bar-header bar-light header-bottom ">
<h1 class="title login-bar"><img src="img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Preview Business Detail</span>
<!-- <img src="img/forward.png" alt="forward" class="forward"/> -->
<!-- <i class="fa fa-search forward"></i></h1> -->
</div>
<div class="header-map">
  <img src="img/map.png" alt="" class="map-preview" />
  <button  class="button button-positive circle pull-right" ui-sref="business-registration"><i class="fa fa-pencil"></i></button>

</div>
    <ion-content >
<form class=" business-details " ng-model="previewDetail">
  <div class="preview-bottom preview-business">
  <i class="fa fa-building"></i><input type="text" placeholder="Business Name" value="Tea Villa" class="bottom-disabled"></input>
</div>
<div class="preview-bottom preview-business">
<i class="fa fa-map-marker"></i><input type="text" placeholder="Business Address" value="Sion Laxmi Nivas" class="bottom-disabled"></input>
</div>
<div class="preview-bottom preview-business">
  <i class="fa fa-phone"></i><input type="text" placeholder="Comapany Name" value="9999999999" class="bottom-disabled"></input>
</div>
  <div class="preview-bottom preview-business">
  <i class="fa fa-briefcase"></i><input type="text" placeholder="Business Type" value="Cafe" class="bottom-disabled"></input>
</div>
 <div class="preview-bottom preview-business">
  <i class="fa fa-registered"></i><input type="text" placeholder="Registration Authority"  value="sdf45" class="bottom-disabled"></input>
</div>
<div class="preview-bottom preview-business">
<i class="fa fa-newspaper-o"></i><input type="text" placeholder="VAT Registration Number" value="AWDRT1450DF" class="bottom-disabled"></input>
</div>
<div class="preview-bottom preview-business">
  <i class="fa fa-list icon-user sign-up-color"> </i>
  <input type="text" placeholder="Select Number of Branch" value="5" class="bottom-disabled"></input>
  <!-- <label class="item-input item-select select-regstration sign-up-margin num-branch preview-business">
        <i class="fa fa-list icon-user sign-up-color"> </i>

      <select class="registration-select sign-up-color ">
          <option value=""  disabled selected >Select Number of Branch</option>
        <option>Blue</option>
        <option>Green</option>
        <option>Red</option>
      </select>
    </label> -->
  </div>
  <button class="button button-block  button-light continue sign-up" ui-sref="branch-registration">
    Submit</button>

</form>
    </ion-content>
    <div class="bar bar-footer">

      <div >
        <div >
          <label for="" class="progress-label">35% Completed</label>
        </div>
      <progress value="25" max="100" class="progress">50%</progress>
    </div>

    </div>
   </ion-view>
