<ion-view>
    <div class="bar bar-header bar-light header-bottom ">
        <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Requested Card or Points</span>
<!-- <img src="/img/forward.png" alt="forward" class="forward"/> -->
<i class="fa fa-search forward"></i></h1>

</div>
<ion-content  class="card-points">
  <div class="subscriber">
<img src="/img/burgerking.jpg" alt="" class= ""/>
<div class="subscriber-detailtext">
  <h4 >Vashi Center One</h4>
  <h5 >Jp raod,Andheri,Mumbai-421001</h5>
  <h5 >9876547525 / 254789611</h5>
  <h5 >mall@gmail.com</h5>
</div>
</div>
  <table class="status-table">
      <tr>
        <th>
          Status
        </th>
        <th>
          Available Pts
        </th>
        <th>
          Distribute Pts
        </th>
      </tr>
      <tr>
        <td>
          New Subscriber
        </td>
        <td>
          100
        </td>
        <td>
          140
        </td>
      </tr>
  </table>
  <div class="points-req">
    <label for="">Points Requested</label>
    <input type="text" placeholder="100"  class="registration-select address">
  </div>
  <div class="reject">
  <button class="button button-stable margin-button reject" ui-sref="subscriber-requested">
    Reject
  </button>
  <button class="button button-stable margin-button accept" ui-sref="subscriber-requested">
    Accept
  </button>
  </div>


</ion-content>
<!-- <div class="bar bar-footer">
<div >
  <div >
    <label for="" class="progress-label">35% Completed</label>
  </div>
<progress value="35" max="100" class="progress">35%</progress>
</div>
<button  class="bottom-continue button button-clear pull-right submit-blue" ui-sref="recent-checkin">Submit</button>
</div> -->
</ion-view>
