<ion-view title="Branch Details">
  <div class="bar bar-header bar-light header-bottom ">
<h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Review Branch Detail</span>
<img src="/img/forward.png" alt="forward" class="forward"/>
<i class="fa fa-search search-grey"></i></h1>
</div>

    <ion-content class="has-header">

<div class="preview-margin preview-details">
    <div class="branch">
      <a class="item item-thumbnail-left branch-review" ui-sref="app.app-branch">
        <img src="img/burgerking.jpg">
        <div class="text-div">
          <h2 >Vashi Center One</h2>
          <p>A124</p>
          <p>vashi navi mumbai</p>
        </div>
      </a>
    </div>
    <div class="branch">
      <a class="item item-thumbnail-left branch-review" ui-sref="app.app-branch">
        <img src="img/burgerking.jpg">
        <div class="text-div">
          <h2 >Guru Krupa</h2>
          <p>A124</p>
          <p>sion west mumbai</p>
        </div>
      </a>
    </div>
    <div class="branch">
      <a class="item item-thumbnail-left branch-review" ui-sref="app.app-branch">
        <img src="img/burgerking.jpg">
        <div class="text-div">
          <h2 >Guru Krupa</h2>
          <p>A126</p>
          <p>Ghatkoper west mumbai</p>
        </div>
      </a>
    </div>
</div>
        </ion-content>
        <div class="float-button" ui-sref="branch-registration">
      		<span class="height-fix">
      	   		<a class="content">
      	    		<i class="fa fa-plus"> </i>
      	   		</a>
      	  	</span>
      	</div>
        <!--<div class="bar bar-footer">

          <div >
            <div >


              <label for="" class="progress-label">35% Completed</label>
            </div>
          <progress value="25" max="100" class="progress">50%</progress>
        </div>
        <button  class="bottom-continue button button-clear pull-right" ui-sref="branch-address">Save</button>
        </div>-->
       </ion-view>
