<ion-view >
  <div class="bar bar-header bar-light header-bottom ">
<h1 class="title login-bar"><img src="/img/back.png" alt="back" / class="back" ng-click="goBackHandler();"><span class="title-name">Sign Up</span></h1>
</div>
    <ion-content >

<form class="form-margin">
  <div class=" sign-up-margin">

    <i class="fa fa-user  icon-user sign-up-color"> </i>
  <input type="text" placeholder="EmaIL"  class="registration-select">
</div>

<div class="sign-up-margin">
  <i class="fa fa-mobile icon-phone sign-up-color"> </i>
<input type='number' placeholder="+44" class="country-code" >
<input type='number' placeholder="mobile number" class="mobile-number">
  </div>


<!-- <input type='text' placeholder="Type of Registration" class=" item-select" > -->
<!-- <label class=" item-input item-select select-regstration" >
</label> -->
<label class="item-input item-select select-regstration sign-up-margin">
  <!-- <div class="input-label"> -->
      <i class="fa fa-users icon-user sign-up-color"> </i>
    <!-- </div> -->

    <select class="registration-select sign-up-color">
        <option value=""  disabled selected >Type of Registration</option>
      <option>Owner</option>
      <option>Manager</option>
      <option>Employee</option>
    </select>
  </label>
  <div class=" enter-otp">

    <i class="fa fa-lock icon-lock sign-up-color"> </i>

  <input type="password" placeholder="Password"  class="password">
  <i class=" fa fa-eye password-eye"></i>
</div>

  <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">I agree to the Sava <a href="#" class="checkbox-link"  style="text-decoration: none;">Terms and Conditions</a> and <a href="#" class="checkbox-link"  style="text-decoration: none;">privacy Policy</a></label>
  </div>

  <button class="button button-block  button-light button-margin sign-up" ui-sref="mobile-verification">
      Sign In</button>
      <div class="margin-bottom">
        <span for="" class="sign-up-color login-text">Already a member ?<a class="button button-clear button-positive sign-in-button login-text"  ui-sref="welcome-backlogin">Sign In</a></span>
      </div>

</form>

    </ion-content>
</ion-view>
