<ion-view>
    <div class="bar bar-header bar-light header-bottom ">
        <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Subscriber Requested</span>
<!-- <img src="/img/forward.png" alt="forward" class="forward"/> -->
<i class="fa fa-search forward"></i></h1>

</div>

    <ion-tabs class=" tab-button">
      <ion-tab title="Subscription">
        <ion-content  class="tab-content">

        <div class="tabs-margin" ui-sref="requested-cardpoints">
          <div class="subscriber">
            <img src="/img/burgerking.jpg" alt="" class= ""/>
            <div class="subscriber-detailtext">
              <h4 >Vashi Center One</h4>
              <h5 >Vashi Navi Mumbai</h5>
              <h5 >Requested Points : <label for="">400 Points</label></h5>

              <i class="fa fa-chevron-right"></i>
            </div>
        </div>
          <div class="subscriber" ui-sref="requested-cardpoints">
        <img src="/img/burgerking.jpg" alt="" class= ""/>
        <div class="subscriber-detailtext">
          <h4 >Guru Krupa</h4>
          <h5 >Sion Mumbai</h5>
          <h5 >Stamps Requested : <label for="">40 Stamps</label></h5>

          <i class="fa fa-chevron-right"></i>
        </div>
        </div>
          <div class="subscriber" ui-sref="requested-cardpoints">
        <img src="/img/burgerking.jpg" alt="" class= ""/>
        <div class="subscriber-detailtext" >
          <h4 >Guru Krupa</h4>
          <h5 >Sion Mumbai</h5>
          <h5 >Requested Points :  <label for="">400 Points</label></h5>

          <i class="fa fa-chevron-right"></i>
        </div>
        </div>
        </div>
      </ion-content>
      </ion-tab>
      <ion-tab title="Additional Points" >
        <ion-content  class="tab-content">
        <div class="" ui-sref="requested-cardpoints">
          <div class="subscriber">
            <img src="/img/burgerking.jpg" alt="" class= ""/>
            <div class="subscriber-detailtext">
              <h4 >Vashi Center One</h4>
              <h5 >Vashi Navi Mumbai</h5>
              <h5 >Requested Points : <label for="">400 Points</label></h5>
              <h5 >Distribute Points : <label for="">400 Points</label></h5>
              <i class="fa fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </ion-content >

      </ion-tab>
</ion-tabs>


</ion-content>


<!-- <div class="bar bar-footer">
<div >
  <div >
    <label for="" class="progress-label">35% Completed</label>
  </div>
<progress value="35" max="100" class="progress">35%</progress>
</div>
<button  class="bottom-continue button button-clear pull-right submit-blue" ui-sref="recent-checkin">Submit</button>
</div> -->
</ion-view>
