<ion-view>
  <div class="bar bar-header bar-light header-bottom ">
    <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back" ng-click="goBackHandler();"/><span class="title-name">Success</span>
<img src="/img/forward.png" alt="forward" class="forward"/>

</div>

<ion-content class="success" >
  <div class="item thank-you">
    <div class="text-thank">
<h2>Thank you!</h2>
<h3>Congratulations!</h3>
<h3>Your profile is updated</h3>
  </div>

  </div>
  <label for="" class="text-status">Registration Status</label>
  <div class=" item detail-list">
    <div class="detail-element">
      <i class="fa fa-user"> </i><label for="">Personal Detail</label> <i class="fa fa-check check"></i>

    </div>
    <div class="detail-element">
      <i class="fa fa-briefcase"></i><label for="">Business Detail</label><i class="fa fa-check check"></i>

    </div>
    <div class="detail-element">
      <i class="fa fa-building"></i><label for="">Branch Detail</label> <i class="fa fa-check check"></i>

    </div>
    <div class="detail-element">
      <i class="fa fa-unlock-alt "> </i><label for="" >Loyalty Detail</label> <i class="fa fa-check check"></i>
    </div>

  </div>
</ion-content>
<div class="bar bar-footer ">
  <div >
    <div >
      <label for="" class="progress-label">35% Completed  </label>
    </div>
  <progress value="35" max="100" class="progress">35%</progress>
</div>
<button  class="bottom-continue button button-clear pull-right" ui-sref="loyalty-programme">Continue</button>
</div>
</ion-view>
