<ion-view title="Target Audience">
  <div class="bar bar-header bar-light header-bottom ">
    <h1 class="title login-bar"><img src="/img/back.png" alt="back"  class="back"/><span class="title-name">Summary</span>
<img src="/img/forward.png" alt="forward" class="forward"/>
</div>

<ion-content  >
  <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">All</label>
  </div>
  <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Location</label>
  </div>
  <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Age</label>
  </div>
  <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Available balance</label>
  </div>
   <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Last Activity</label>
  </div>
  <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Sex</label>
  </div>
  <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">LifeTime Points Earned</label>
  </div>
  <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Birthday</label>
  </div>
    <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Anniversary Date</label>
  </div> 
   <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Childern Age</label>
  </div>
    <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Nationality</label>
  </div>
    <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Most Visited Branch</label>
  </div>
   <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">NO</label>
  </div>
   <div class="bottom-iagree i-agree-checkbox custom-checkbox ">
          <input type='checkbox' id="accept">
          <label for="accept" class="i-agree sign-up-color login-text">Most Visited Branch</label>
  </div>
    </ion-content>+
</ion-view>